<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Four</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1 class="center-text">devCodeCamp Django Querying Lab</h2>
    <nav>
        <ul>
            <li><a href="{% url 'lab:one' %}">Problem One</a></li>
            <li><a href="{% url 'lab:two' %}">Problem Two</a></li>
            <li><a href="{% url 'lab:three' %}">Problem Three</a></li>
            <li><a href="{% url 'lab:four' %}">Problem Four</a></li>
            <li><a href="{% url 'lab:five' %}">Problem Five</a></li>
            <li><a href="{% url 'lab:six' %}">Problem Six</a></li>
            <li><a href="{% url 'lab:bonus_one' %}">Bonus One</a></li>
            <li><a href="{% url 'lab:bonus_two' %}">Bonus Two</a></li>
            <li><a href="{% url 'lab:bonus_three' %}">Bonus Three</a></li>
            <li><a href="{% url 'lab:bonus_four' %}">Bonus Four</a></li>
        </ul>
    </nav>
    <div class="center-text">
        <h2>Students with A's</h2>
        <table class="center-table">
            <thead>
                <tr>
                    <th>Number of Students</th><th>Average GPA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{students.id__count}}</td><td>{{students.gpa__avg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>